﻿@model IEnumerable<agenda.Models.Contacto>

@{
    ViewData["Title"] = "Index";
}

<h1>Agenda de Contactos</h1>

<p>
    <a asp-action="Agregar">Agregar Contacto</a>
</p>
<!-- Buscador -->
<form asp-action="Index" method="GET">
    <p>
        <input type="search" placeholder="Ingrese nombre del contacto o correo" name="busquedaContacto"
               value="@ViewData["GetClienteDetalle"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver Todos</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notas)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.id_contacto }) |
                    @Html.ActionLink("Detalle", "Detalle", new { id = item.id_contacto }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id_contacto })
                </td>
            </tr>
        }
    </tbody>
</table>
